{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <h1>Lista tematów: </h1>
        {% for topicItem in otherTopics %}
            {% if topicItem.id == topic.id %}
            <div class="main-card-test">
                <div class="framed">
                    <h2>{{ topicItem.name }}</h2>
                </div>
            {% else %}
            <div class="main-card">

                <a href="{% url 'topic' topic.place.id topicItem.id %}">
                    <div class="framed">
                        <h2>{{ topicItem.name }}</h2>
                    </div>
                </a>
                {% endif %}
        </div>
        {% endfor %}
    </div>


    <div id="topic-content-container">


        <div class="main-card">
            <a href="{% url 'update-topic' topic.id %}">Edit</a>
            <h2>{{topic.name}}</h2>
            <div id="markdown-description">
                <h3>{{topic.description}}</h3>
            </div>


        </div>
        <div class="main-card">
            <h1 id="title">Załączniki:</h1>
            <a href="{% url 'add-file' topic.id %}" id="button-create">Add File</a>
        {% for file in files %}
            <div class="attachment">
                <a href="{{ file.file.url }}" class="attachment-link" {% if file.file.name|slice:"-3:" == ".py" %} download {% endif %}>
                    <span class="attachment-icon">📎</span>
                    {{ file.file.name }}
                </a>
                {% if file.file.name|slice:"-3:" == ".py" %}
                    <button class="view-code-link" data-url="{{ file.file.url }}">View Code</button>
                {% endif %}
                <button class="delete-file-link" data-file-id="{{ file.id }}">Delete</button>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}